html, body, ul, ol, li,dl, dd, dt, p, canvas,h1,button, h2, h3, h4, h5, h6,span, form, fieldset, legend, img,figure,select,option,figcaption,input,textarea,div,a,i,header,table,tbody,thead,tr,th,td { margin:0; padding:0;box-sizing: border-box; }
fieldset, img ,figure,figcaption{ border:none; }
address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal; }
body {
  font:16px "Hiragino Sans GB", "Microsoft YaHei", '微软雅黑', arial, Tahoma, SimSun, sans-serif;
}

img{
  outline: none;
  border-style: none;
}
ul,ol {
  list-style: none;
}
a {
  text-decoration: none;
}
i{
  font-style: normal;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}