//color
$colorNav: #2C405A;
$colorRangeD: #354052;
$colorRangeM: #666;
$colorRangeS: #7F8FA4;
$colorInp: #A9ABBA;
$colorLine: #E0E0E4;
$colorBorder: #D8DCE6;
$colorMark: #E6E9EB;
$colorBg: #FAFAFD;
$colorWhite: #FFF;
$colorBlue:#0366FF;
$colorHover: #1770FF;
$colorClick: #125ACC;
$colorGreen: #00AA00;
$colorRed: #EE3333;
$colorBtnBg: #0364ff;
$colorGray: #333333;
$colorEdit: #E6F0FF;

//font
$f12: 12px;
$f13: 13px;
$f14: 14px;
$f16: 16px;
$f18: 18px;
$f20: 20px;


// font-weight
$w400: 400;
$w500: 500;
$w600: 600;
$w800: 800;
